/* navbar.css */

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 768px) {
  .main ul {
    flex-direction: column;
  }

  .main input {
    width: 100%;
    margin-top: 0.5rem;
  }
}
